body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(113, 11, 230);
    color: rgb(213, 213, 223);
    margin: 0;
    padding: 0;

.botones{
        background-color: darkred;
        color: gold;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.deporte {
    background-color: #98cceb;
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden; /* Para evitar que el contenido flote fuera del contenedor */
}
.imagen {
    float: left; /* Coloca la imagen en el lado izquierdo */
    margin-right: 20px; /* Añade espacio entre la imagen y el texto */
    width: 20%;
    height: 20%;
}
.texto {
    color: rgb(9, 7, 104);
    text-align: left; /* Alinea el texto a la izquierda */
}